/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");
/*===== VARIABLES CSS =====*/
:root {
  --header-height: 3rem;
  --font-semi: 600;
}

/*===== Colores =====*/
:root {
  --first-color: teal;
  --second-color: #0e2431;
}

/*===== Fuente y tipografia =====*/
:root {
  --body-font: "Poppins", sans-serif;
  --big-font-size: 2rem;
  --h2-font-size: 1.25rem;
  --normal-font-size: 0.938rem;
}
@media screen and (min-width: 768px) {
  :root {
    --big-font-size: 3.5rem;
    --h2-font-size: 2rem;
    --normal-font-size: 1rem;
  }
}

/*===== Margenes =====*/
:root {
  --mb-1: 0.5rem;
  --mb-2: 1rem;
  --mb-3: 1.5rem;
  --mb-4: 2rem;
  --mb-5: 2.5rem;
  --mb-6: 3rem;
}

/*===== z index =====*/
:root {
  --z-back: -10;
  --z-normal: 1;
  --z-tooltip: 10;
  --z-fixed: 100;
}

/*===== BASE =====*/
*,
::before,
::after {
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
body {
  margin: var(--header-height) 0 0 0;
  font-family: var(--body-font);
  font-size: var(--normal-font-size);
  color: var(--second-color);
}
h1,
h2,
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style: none;
}
a {
  text-decoration: none;
}
img {
  max-width: 100%;
  height: auto;
  display: block;
}

/*===== CLASS CSS ===== */
.section-title {
  position: relative;
  font-size: var(--h2-font-size);
  color: var(--first-color);
  margin-top: var(--mb-2);
  margin-bottom: var(--mb-4);
  text-align: center;
}
.section-title::after {
  position: absolute;
  content: "";
  width: 64px;
  height: 0.18rem;
  left: 0;
  right: 0;
  margin: auto;
  top: 2rem;
  background-color: var(--first-color);
}
.section {
  padding-top: 3rem;
  padding-bottom: 2rem;
}

/*===== LAYOUT =====*/
.bd-grid {

  max-width: 1024px;
  display: grid;
  grid-template-columns: 100%;
  grid-column-gap: 2rem;
  width: calc(100% - 2rem);
  margin-left: var(--mb-2);
  margin-right: var(--mb-2);
}
.l-header {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: var(--z-fixed);
  background-color: #fff;
  box-shadow: 0 1px 4px rgba(146, 161, 176, 0.15);
}

/*===== NAV =====*/
.nav {
  height: var(--header-height);
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: var(--font-semi);
}
@media screen and (max-width: 768px) {
  .nav-menu {
    position: fixed;
    top: var(--header-height);
    right: -100%;
    width: 80%;
    height: 100%;
    padding: 2rem;
    background-color: var(--second-color);
    transition: 0.5s;
  }
}
.nav-item {
  margin-bottom: var(--mb-4);
}
.nav-link {
  position: relative;
  color: #fff;
}
.nav-link:hover {
  position: relative;
}
.nav-link:hover::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}
.nav-logo img {
  color: var(--second-color);
  font-weight: var(--font-semi);
  width: 3rem;
}
.nav-toggle {
  color: var(--second-color);
  font-size: 1.5rem;
  cursor: pointer;
}

/*Active menu*/
.active::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 0.18rem;
  left: 0;
  top: 2rem;
  background-color: var(--first-color);
}

/*=== Show menu ===*/
.show {
  right: 0;
}

/*===== HOME =====*/
.home {
  height: calc(100vh - 3rem);
  row-gap: 1rem;
}
.home-data {
  align-self: center;
}
.home-title {
  font-size: var(--big-font-size);
  margin-bottom: var(--mb-5);
}
.home-title-color {
  color: var(--first-color);
}
.home-social {
  display: flex;
  flex-direction: column;
}
.home-social-icon {
  width: max-content;
  margin-bottom: var(--mb-2);
  font-size: 3rem;
  color: var(--second-color);
}
.home-social-icon:hover,
.footer-icon:hover {
  color: var(--first-color);
}
.home-img {
  position: absolute;
  margin:5px;
  width: 24%; 
   border:3px solid;
   border-radius: 50%;
  border-color: teal;

}
.home-imgsrc{
  width:100%;
  
}
/*BUTTONS*/
.button {
  display: inline-block;
  background-color: var(--first-color);
  border: 1px solid var(--first-color);
  color: #fff;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
}
.button:hover {
  background-color: #fff;
  color: var(--first-color);
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}

/* ===== ABOUT =====*/
section.about {
  padding: 20vh 15px;
}
.about-container {
  row-gap: 2rem;
  text-align: center;
}
.about-subtitle {
  margin-bottom: var(--mb-2);
}
.about-img {
  justify-self: center;
}
.about-img img {
  width: 200px;
  border-radius: 0.5rem;
}

/* ===== SKILLS =====*/
.skills-container {

  row-gap: 2rem;
  text-align: center;
}
.skills-subtitle {
  margin-bottom: var(--mb-2);
}
.skills-text {
  margin-bottom: var(--mb-4);
}
.skills-data {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  font-weight: var(--font-semi);
  padding: 0.5rem 1rem;
  margin-bottom: var(--mb-4);
  border-radius: 0.5rem;
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
}
.devicon--matplotlib-wordmark {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%2311557c' d='M22.155 70.824a.45.45 0 0 1-.104.256a.7.7 0 0 1-.297.17q-.204.07-.547.099a7 7 0 0 1-.87.043q-.54 0-.877-.043a2.4 2.4 0 0 1-.547-.099a.6.6 0 0 1-.271-.17a.45.45 0 0 1-.052-.256l.559-7.513a5 5 0 0 0-.041-1.165a2.3 2.3 0 0 0-.303-.895a1.43 1.43 0 0 0-.582-.582q-.354-.213-.879-.213q-.639 0-1.329.497t-1.528 1.449l-.626 8.422a.45.45 0 0 1-.104.256a.7.7 0 0 1-.311.17q-.204.07-.547.099a7 7 0 0 1-.855.043q-.525 0-.863-.043a2.4 2.4 0 0 1-.547-.099a.6.6 0 0 1-.271-.17a.4.4 0 0 1-.066-.256l.559-7.513a5 5 0 0 0-.041-1.165a2.5 2.5 0 0 0-.289-.895a1.43 1.43 0 0 0-.582-.582a1.7 1.7 0 0 0-.879-.213q-.653 0-1.344.497q-.69.497-1.514 1.449l-.627 8.422a.45.45 0 0 1-.104.256a.7.7 0 0 1-.311.17q-.204.07-.547.099a7 7 0 0 1-.87.043q-.525 0-.863-.043a2.4 2.4 0 0 1-.547-.099a.6.6 0 0 1-.271-.17a.4.4 0 0 1-.066-.256l.942-12.669a.43.43 0 0 1 .089-.241a.56.56 0 0 1 .269-.185a2 2 0 0 1 .476-.099q.301-.042.742-.043q.454 0 .75.043q.296.029.447.099q.165.07.228.185q.063.1.053.241l-.109 1.463q1.135-1.136 2.215-1.704q1.093-.568 2.229-.568q.781 0 1.393.17q.614.156 1.073.469q.476.298.798.724q.324.426.526.952q.613-.61 1.186-1.051q.586-.44 1.132-.71a5 5 0 0 1 1.096-.412a4.4 4.4 0 0 1 1.104-.142q1.264 0 2.099.426c.835.426.992.672 1.305 1.165q.486.725.64 1.704a9 9 0 0 1 .073 2.074zm14.327.043a.41.41 0 0 1-.165.312q-.15.114-.466.156a5 5 0 0 1-.899.057q-.639 0-.933-.057q-.281-.042-.4-.156q-.105-.114-.09-.312l.075-1.008a6.4 6.4 0 0 1-1.887 1.307a5.4 5.4 0 0 1-2.25.469q-1.009 0-1.84-.27a3.85 3.85 0 0 1-1.406-.767a3.26 3.26 0 0 1-.855-1.292q-.283-.767-.208-1.79q.082-1.109.569-1.917a3.9 3.9 0 0 1 1.393-1.349q.906-.54 2.204-.795q1.298-.256 2.987-.256h1.236l.057-.767a3.6 3.6 0 0 0-.051-1.037a1.5 1.5 0 0 0-.342-.753q-.247-.299-.706-.44q-.444-.142-1.126-.142q-.895 0-1.62.199a10 10 0 0 0-1.268.44q-.558.242-.942.44q-.37.2-.597.199a.43.43 0 0 1-.277-.099a.8.8 0 0 1-.178-.284a2.2 2.2 0 0 1-.08-.454a4 4 0 0 1 .002-.597q.033-.44.123-.696a.9.9 0 0 1 .304-.454q.214-.213.73-.454q.516-.255 1.199-.469a11 11 0 0 1 1.474-.341a9.4 9.4 0 0 1 1.644-.142q1.491 0 2.52.298q1.044.284 1.68.895q.638.597.879 1.548t.145 2.258zm-3.104-5.425h-1.363q-.867 0-1.487.128t-1.023.383q-.402.256-.615.625a2 2 0 0 0-.232.824q-.059.795.404 1.25q.478.454 1.372.454q.753 0 1.406-.383q.668-.384 1.376-1.122zm13.994 4.133q-.046.626-.157.966q-.095.327-.234.469a1.4 1.4 0 0 1-.401.241a3.5 3.5 0 0 1-.595.17a5 5 0 0 1-.734.128a7 7 0 0 1-.784.043q-1.065 0-1.826-.27t-1.231-.824q-.469-.568-.647-1.42c-.178-.852-.149-1.24-.091-2.017l.483-6.491h-1.52q-.27 0-.388-.327q-.117-.34-.059-1.122q.03-.412.08-.696q.063-.284.146-.44a.6.6 0 0 1 .188-.241a.5.5 0 0 1 .261-.071h1.505l.21-2.826a.5.5 0 0 1 .09-.256a.66.66 0 0 1 .298-.185q.22-.086.562-.114q.359-.043.87-.043q.525 0 .863.043q.353.029.545.114a.53.53 0 0 1 .27.185a.4.4 0 0 1 .066.256l-.21 2.826h2.755q.142 0 .236.071a.45.45 0 0 1 .167.241q.06.156.067.44q.021.284-.009.696q-.058.782-.225 1.122q-.166.327-.436.327h-2.77l-.443 5.951q-.077 1.037.21 1.562q.288.511 1.127.511q.284 0 .514-.043q.231-.057.406-.114l.307-.114a.6.6 0 0 1 .231-.057q.085 0 .152.057q.082.043.113.199q.032.142.041.398q.028.257-.003.655m15.759-5.27q-.126 1.69-.596 3.054q-.456 1.349-1.222 2.301a5.2 5.2 0 0 1-1.842 1.463q-1.075.511-2.41.511q-.553 0-1.014-.114a3.8 3.8 0 0 1-.872-.312a5.5 5.5 0 0 1-.811-.554a9 9 0 0 1-.824-.767l-.444 5.965a.45.45 0 0 1-.104.256a.66.66 0 0 1-.312.185q-.206.085-.549.128c-.343.043-.519.043-.87.043q-.525 0-.863-.043a2 2 0 0 1-.544-.128a.53.53 0 0 1-.27-.185a.4.4 0 0 1-.066-.256l1.316-17.697a.43.43 0 0 1 .089-.241a.56.56 0 0 1 .255-.185a2 2 0 0 1 .476-.099q.301-.042.742-.043q.426 0 .707.043q.296.029.461.099q.18.07.242.185q.063.1.053.241l-.111 1.491q.596-.568 1.153-.994a7 7 0 0 1 1.147-.724a5 5 0 0 1 1.169-.44q.608-.142 1.275-.142q1.392 0 2.331.554q.94.54 1.48 1.491q.554.951.744 2.216q.191 1.264.084 2.698m-3.74.256q.06-.81-.013-1.548a4.1 4.1 0 0 0-.313-1.335a2.14 2.14 0 0 0-.698-.923q-.443-.355-1.152-.355q-.355 0-.719.114q-.348.1-.735.341q-.373.241-.785.625a10 10 0 0 0-.88.952l-.31 4.176q.682.951 1.325 1.477q.644.511 1.382.511q.696 0 1.205-.355q.524-.355.878-.923q.356-.582.552-1.307q.209-.726.263-1.45m9.704 6.263a.45.45 0 0 1-.104.256a.7.7 0 0 1-.311.17q-.204.07-.547.099q-.343.043-.87.043c-.527 0-.638-.014-.863-.043a2.4 2.4 0 0 1-.547-.099a.6.6 0 0 1-.271-.17a.4.4 0 0 1-.066-.256l1.389-18.676a.45.45 0 0 1 .104-.256a.66.66 0 0 1 .298-.185q.22-.085.563-.128c.343-.043.519-.043.87-.043q.525 0 .863.043c.338.043.402.071.53.128q.208.07.285.185c.077.115.073.161.066.256zm26.794-1.249q-.046.626-.157.966q-.095.327-.234.469a1.4 1.4 0 0 1-.401.241a3.5 3.5 0 0 1-.595.17a5 5 0 0 1-.734.128a7 7 0 0 1-.784.043q-1.065 0-1.826-.27t-1.231-.824q-.469-.568-.647-1.42c-.178-.852-.149-1.24-.091-2.017l.483-6.491h-1.52q-.27 0-.388-.327q-.117-.34-.059-1.122q.03-.413.08-.696q.063-.284.146-.44a.6.6 0 0 1 .188-.241a.5.5 0 0 1 .261-.071h1.505l.21-2.826a.5.5 0 0 1 .09-.256a.66.66 0 0 1 .298-.185q.22-.086.562-.114q.359-.042.87-.043q.525 0 .863.043q.353.028.545.114a.53.53 0 0 1 .27.185a.4.4 0 0 1 .066.256l-.21 2.826h2.755q.142 0 .236.071a.45.45 0 0 1 .167.241q.06.156.067.44q.021.283-.009.696q-.059.782-.225 1.122q-.166.327-.436.327h-2.77l-.443 5.951q-.077 1.037.21 1.562q.288.511 1.127.511q.284 0 .514-.043q.232-.057.406-.114l.307-.114a.6.6 0 0 1 .231-.057q.085 0 .152.057q.082.043.113.199q.032.142.041.398q.026.257-.003.655m6.099 1.249a.45.45 0 0 1-.104.256a.7.7 0 0 1-.311.17q-.204.07-.547.099a7 7 0 0 1-.87.043q-.525 0-.863-.043a2.4 2.4 0 0 1-.547-.099a.6.6 0 0 1-.271-.17a.4.4 0 0 1-.066-.256l1.389-18.676q.01-.142.104-.256c.094-.114.162-.137.298-.185q.22-.085.563-.128q.344-.042.87-.043c.526-.001.638.014.863.043q.338.042.53.128q.208.07.285.185a.4.4 0 0 1 .066.256zm7.158 0a.45.45 0 0 1-.104.256a.7.7 0 0 1-.311.17q-.204.07-.547.099a7 7 0 0 1-.87.043q-.525 0-.863-.043a2.4 2.4 0 0 1-.547-.099a.6.6 0 0 1-.271-.17a.4.4 0 0 1-.066-.256l.94-12.64a.38.38 0 0 1 .103-.241a.66.66 0 0 1 .298-.185q.22-.085.563-.128t.87-.043q.525 0 .863.043t.53.128q.208.07.285.185a.34.34 0 0 1 .067.241zm1.531-16.958q-.08 1.08-.551 1.491c-.471.411-.869.412-1.664.412q-1.207 0-1.604-.398q-.383-.398-.305-1.434q.08-1.08.537-1.491q.472-.426 1.679-.426q1.193 0 1.588.412q.397.398.32 1.434m15.286 10.454q-.126 1.69-.595 3.039c-.469 1.349-.725 1.666-1.236 2.301s-1.12 1.122-1.827 1.463q-1.046.511-2.339.511a5.2 5.2 0 0 1-1.184-.128a3.8 3.8 0 0 1-1.037-.383a5.5 5.5 0 0 1-.943-.682a9 9 0 0 1-.92-.994l-.102 1.378a.47.47 0 0 1-.105.27a.6.6 0 0 1-.268.17q-.176.07-.476.099t-.726.028q-.44 0-.736-.028a1.8 1.8 0 0 1-.461-.099a.5.5 0 0 1-.229-.17a.47.47 0 0 1-.051-.27l1.389-18.676a.45.45 0 0 1 .104-.256a.66.66 0 0 1 .298-.185q.22-.085.563-.128q.344-.042.87-.043q.525 0 .863.043t.53.128q.208.07.285.185a.4.4 0 0 1 .066.256l-.521 7.002q.519-.483 1.027-.824c.508-.341.674-.412 1.007-.554q.5-.227 1.018-.327a6 6 0 0 1 1.087-.099q1.406 0 2.344.568a4 4 0 0 1 1.479 1.505q.554.952.743 2.23q.187 1.263.083 2.67m-3.726.255q.06-.81-.012-1.562a4.1 4.1 0 0 0-.313-1.335a2.24 2.24 0 0 0-.713-.923q-.442-.355-1.167-.355q-.355 0-.703.099q-.348.1-.735.341q-.373.241-.785.625a8 8 0 0 0-.88.952l-.313 4.204q.68.966 1.325 1.477q.659.497 1.412.497q.696 0 1.205-.355t.864-.923q.369-.569.565-1.292a7.7 7.7 0 0 0 .25-1.45'/%3E%3Ccircle cx='79.33' cy='64.198' r='11.013' fill='%23fff' transform='rotate(-58.283 79.335 64.201)'/%3E%3Cpath fill='none' stroke='%23858585' stroke-dasharray='.062 .123' stroke-linecap='round' stroke-linejoin='round' stroke-miterlimit='7.976' stroke-width='0.13' d='M79.32 64.192h10.187m-10.187 0l7.202-7.202m-7.202 7.202V54.006m0 10.186l-7.202-7.202m7.202 7.202H69.134m10.186 0l-7.202 7.202m7.202-7.202V74.38m0-10.188l7.202 7.202' opacity='0.9'/%3E%3Cg fill='none' stroke='%23818181' stroke-dasharray='.062 .123' stroke-linecap='square' stroke-linejoin='round' stroke-miterlimit='199.409' stroke-width='0.13'%3E%3Cpath d='m80.452 64.192l-.034-.273l-.099-.257l-.157-.225l-.209-.18l-.246-.127l-.269-.063l-.275.004l-.268.072l-.241.134l-.202.187l-.15.232l-.09.26l-.023.276l.044.274l.107.254l.166.221l.215.175l.25.115l.272.053l.275-.015l.263-.08l.236-.143l.195-.195l.143-.236l.08-.263l.017-.2h0' opacity='0.9'/%3E%3Cpath d='m82.715 64.192l-.033-.473l-.1-.463l-.161-.446l-.223-.418l-.278-.383l-.328-.34l-.372-.293l-.41-.238l-.44-.177l-.46-.113l-.472-.05l-.473.016l-.467.082l-.45.147l-.425.209l-.393.265l-.352.317l-.305.364l-.25.402l-.193.433l-.13.455l-.066.469v.473l.065.469l.13.454l.194.434l.25.401l.305.364l.352.318l.393.265l.425.208l.45.147l.467.082l.473.017l.471-.05l.46-.114l.44-.177l.41-.237l.373-.293l.328-.34l.278-.383l.223-.419l.162-.446l.099-.462l.033-.476h0' opacity='0.9'/%3E%3Cpath d='m84.98 64.192l-.031-.59l-.093-.586l-.153-.572l-.213-.553l-.269-.528l-.322-.496l-.372-.46l-.418-.42l-.461-.372l-.497-.322l-.527-.269l-.554-.212l-.572-.154l-.584-.092l-.592-.032l-.59.032l-.585.092l-.572.154l-.554.212l-.528.27l-.496.321l-.46.373l-.42.418l-.371.46l-.322.497l-.27.528l-.212.553l-.153.572l-.093.585l-.032.591l.032.591l.093.585l.153.572l.213.553l.269.528l.322.497l.372.46l.418.419l.461.372l.496.322l.528.27l.554.212l.572.153l.584.093l.591.031l.592-.031l.584-.093l.572-.153l.554-.213l.527-.27l.497-.32l.46-.373l.42-.419l.371-.46l.322-.497l.27-.528l.212-.553l.153-.572l.093-.585l.031-.59h0' opacity='0.9'/%3E%3Cpath d='m87.244 64.192l-.044-.829l-.13-.818l-.215-.801l-.297-.774l-.377-.738l-.452-.697l-.521-.643l-.587-.587l-.644-.522l-.696-.452l-.738-.376l-.774-.297l-.802-.215l-.818-.13l-.829-.044l-.828.044l-.819.13l-.8.215l-.775.297l-.738.376l-.696.452l-.644.522l-.587.587l-.522.643l-.452.697l-.376.738l-.297.774l-.214.801l-.13.818l-.045.83l.044.828l.13.818l.215.801l.297.775l.376.738l.452.696l.522.644l.587.586l.644.522l.696.452l.738.377l.774.296l.801.215l.819.13l.828.045l.83-.045l.817-.13l.802-.215l.774-.296l.738-.377l.696-.452l.644-.522l.587-.586l.521-.644l.452-.696l.377-.738l.297-.775l.214-.8l.13-.82l.045-.828h0' opacity='0.9'/%3E%3C/g%3E%3Cpath fill='%2311557c' d='M79.321 74.53a10.27 10.27 0 0 1-7.31-3.028a10.27 10.27 0 0 1-3.028-7.31a10.27 10.27 0 0 1 3.028-7.31a10.27 10.27 0 0 1 7.31-3.028c2.761 0 5.358 1.075 7.31 3.028a10.27 10.27 0 0 1 3.028 7.31c0 2.761-1.075 5.358-3.028 7.31a10.27 10.27 0 0 1-7.31 3.028m0-20.372c-2.68 0-5.2 1.044-7.095 2.939a9.97 9.97 0 0 0-2.939 7.095c0 2.68 1.044 5.2 2.939 7.095s4.415 2.939 7.095 2.939s5.2-1.044 7.095-2.939s2.939-4.415 2.939-7.095s-1.044-5.2-2.939-7.095a9.97 9.97 0 0 0-7.095-2.939'/%3E%3Cpath fill='%23004cff' d='m79.321 64.192l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l-.015-.006l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.022-.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.002.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007l.001.007v.154H79.34z' opacity='0.6'/%3E%3Cpath fill='%23ceff29' d='m79.321 64.192l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.015-.038l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.024-.064l.02.008l.02.008l.02.008l.02.008l.02.008l.02.008l.02.008l.02.008l.02.008l.02.008l.02.008l.02.008l.02.008l.02.008l.02.008l.02.008l.02.009l.02.009l.02.009l.019.009l.019.009l.019.009l.019.009l.019.009l.019.009l.019.009l.019.009l.019.009l.019.009l.019.009l.019.009l.019.009l.019.009l.019.01l.019.01l.019.01l.019.01l.019.01l.019.01l.019.01l.019.01l.019.01l.019.01l.019.01l.019.01l.019.01l.019.01l.019.01l.019.01l.019.01l.019.011l.019.011l.018.011l.018.011l.018.011l.018.011l.018.011l.018.011l.018.011l.018.011l.018.011l.018.011l.018.011l.018.011l.018.011l.018.011l.018.011l.018.012l.018.012l.018.012l.018.012l.018.012l.018.012l.018.012l.018.012l.018.012l.018.012l.018.012l.018.012l.018.012l.017.012l.017.012l.017.012l.017.012l.017.012l.017.013l.017.013l.017.013l.017.013l.017.013l.017.013l.017.013l.017.013l.017.013l.017.013l.017.013l.017.013l.017.013l.017.013l.017.013l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.061.072l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.055.057l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.042.053l-.051.055l-.042.053l-.042.053l-.042.053z' opacity='0.6'/%3E%3Cpath fill='%23ff6800' d='m79.321 64.192l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.059-.05l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l-.058-.07l.033-.027l.033-.027l.033-.027l.033-.027l.033-.027l.033-.026l.034-.026l.034-.026l.034-.026l.034-.026l.034-.026l.034-.026l.034-.025l.034-.025l.035-.025l.035-.025l.035-.025l.035-.025l.035-.024l.035-.024l.035-.024l.035-.024l.035-.024l.036-.024l.036-.023l.036-.023l.036-.023l.036-.023l.036-.023l.036-.023l.036-.022l.036-.022l.037-.022l.037-.022l.037-.022l.037-.022l.037-.021l.037-.021l.037-.021l.037-.021l.037-.021l.037-.02l.038-.02l.038-.02l.038-.02l.038-.02l.038-.02l.038-.019l.038-.019l.038-.019l.038-.019l.038-.019l.038-.018l.039-.018l.039-.018l.039-.018l.039-.018l.039-.018l.039-.017l.039-.017l.039-.017l.039-.017l.039-.017l.039-.016l.039-.016l.04-.016l.04-.016l.04-.016l.04-.016l.04-.015l.04-.015l.04-.015l.04-.015l.04-.015l.04-.014l.04-.014l.04-.014l.04-.014l.04-.014l.04-.013l.041-.013l.041-.013l.041-.013l.041-.013l.041-.013l.041-.012l.041-.012l.041-.012l.041-.012l.041-.012l.041-.011l.041-.011l.041-.011l.041-.011l.041-.011l.041-.01l.041-.01l.041-.01l.042-.01l.042-.01l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088l.02.088z' opacity='0.6'/%3E%3Cpath fill='%23ffc400' d='m79.321 64.192l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.076.022l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.077.015l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.078.014l-.009-.049l-.008-.049l-.007-.043l-.008-.049l-.007-.049l-.007-.049l-.007-.049l-.007-.049l-.006-.049l-.006-.049l-.006-.049l-.005-.049l-.005-.05l-.005-.05l-.004-.05l-.004-.05l-.004-.05l-.003-.05l-.003-.05l-.003-.05l-.003-.05l-.002-.05l-.002-.05l-.002-.05l-.001-.049l-.001-.05l-.001-.05v-.15l.001-.05l.001-.05l.001-.05l.002-.05l.002-.05l.002-.05l.002-.05l.003-.05l.003-.05l.003-.05l.004-.05l.004-.05l.004-.05l.005-.05l.005-.05l.005-.049l.006-.049l.006-.049l.006-.049l.007-.049l.007-.049l.007-.049l.007-.049l.008-.049l.008-.049l.008-.049l.009-.049l.009-.049l.009-.049l.01-.049l.01-.049l.01-.049l.011-.049l.011-.049l.011-.049l.011-.048l.012-.048l.012-.048l.012-.048l.013-.048l.013-.048l.013-.048l.014-.048l.014-.048l.014-.048l.014-.048l.015-.048l.015-.047l.015-.047l.016-.047l.016-.047l.016-.047l.017-.047l.017-.047l.017-.047l.017-.047l.018-.047l.018-.046l.018-.046l.019-.046l.019-.042l.019-.046l.019-.046l.02-.046l.02-.046l.02-.045l.021-.045l.021-.045l.021-.045l.021-.045l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034l.071.034z' opacity='0.6'/%3E%3Cpath fill='%2329ffce' d='m79.321 64.192l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.04.023l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.046.017l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.041.022l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.041.022l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.037.026l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.005-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.004-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l-.003-.006l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02l.041-.02z' opacity='0.6'/%3E%3Cpath fill='%237dff7a' d='m79.321 64.192l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.047.04l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l.009.056l-.022.004l-.022.004l-.022.004l-.022.003l-.022.003l-.022.003l-.022.003l-.022.003l-.022.003l-.022.003l-.022.003l-.022.003l-.022.003l-.022.003l-.022.002l-.022.002l-.022.002l-.022.002l-.022.002l-.022.002l-.022.002l-.022.002l-.022.002l-.022.002l-.022.002l-.022.002l-.022.001l-.022.001l-.022.001l-.022.001l-.022.001l-.022.001l-.022.001l-.022.001l-.022.001l-.022.001l-.022.001h-.264l-.022-.001l-.022-.001l-.022-.001l-.022-.001l-.022-.001l-.022-.001l-.022-.001l-.022-.001l-.022-.001l-.022-.001l-.022-.001l-.022-.002l-.022-.002l-.022-.002l-.022-.002l-.022-.002l-.022-.002l-.022-.002l-.022-.002l-.022-.002l-.022-.002l-.022-.002l-.022-.002l-.022-.003l-.022-.003l-.022-.003l-.022-.003l-.023-.009l-.022-.003l-.022-.003l-.022-.003l-.022-.003l-.022-.003l-.022-.003l-.022-.004l-.022-.004l-.022-.004l-.022-.004l-.022-.004l-.022-.004l-.022-.004l-.022-.004l-.022-.004l-.022-.004l-.022-.004l-.022-.004l-.022-.005l-.022-.005l-.022-.005l-.022-.005l-.022-.005l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055l.013-.055z' opacity='0.6'/%3E%3Cpath fill='%23ff6800' d='m79.321 64.192l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l.071.056l-.013.017l-.013.017l-.013.017l-.013.017l-.013.017l-.013.017l-.013.017l-.013.017l-.013.017l-.013.017l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.014.016l-.015.016l-.015.016l-.015.016l-.015.016l-.015.016l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.015.015l-.016.015l-.016.015l-.016.015l-.016.015l-.016.015l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.016.014l-.017.014l-.017.013l-.017.013l-.017.013l-.017.013l-.017.013l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.037-.096l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.075-.063l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071l-.056-.071z' opacity='0.6'/%3E%3Cpath fill='%232c2c2c' d='M81.584 64.261H79.32a.069.069 0 0 1-.021-.134l2.153-.699a.07.07 0 0 1 .087.044c.076.233.114.476.114.721a.07.07 0 0 1-.069.068m-1.828-.138h1.758a2.2 2.2 0 0 0-.086-.543z'/%3E%3Cpath fill='%232c2c2c' d='M79.321 64.261a.07.07 0 0 1-.065-.093l2.386-6.358a.07.07 0 0 1 .089-.04a6.8 6.8 0 0 1 1.867 1.059c.03.024.035.067.011.097l-4.234 5.309a.07.07 0 0 1-.054.026m2.426-6.337l-2.209 5.885l3.92-4.915a6.7 6.7 0 0 0-1.711-.97'/%3E%3Cpath fill='%232c2c2c' d='M79.321 64.261a.07.07 0 0 1-.053-.025l-5.803-6.951a.07.07 0 0 1 .009-.097a9.14 9.14 0 0 1 3.817-1.891a.07.07 0 0 1 .083.052l2.015 8.827a.07.07 0 0 1-.037.077a.1.1 0 0 1-.031.008m-5.706-7.01l5.574 6.677l-1.935-8.48a9 9 0 0 0-3.639 1.803'/%3E%3Cpath fill='%232c2c2c' d='M71.525 65.676a.07.07 0 0 1-.068-.056a8 8 0 0 1 .663-4.895a.07.07 0 0 1 .092-.032l7.138 3.437a.07.07 0 0 1 .038.071a.07.07 0 0 1-.056.059l-7.795 1.415zm.69-4.829a7.87 7.87 0 0 0-.634 4.68l7.518-1.364z'/%3E%3Cpath fill='%232c2c2c' d='m75.6 66.839l-.012-.001a.07.07 0 0 1-.044-.029a4.6 4.6 0 0 1-.363-.623a.07.07 0 0 1-.003-.053a.07.07 0 0 1 .035-.039l4.079-1.964a.07.07 0 0 1 .09.027a.07.07 0 0 1-.02.091l-3.721 2.578a.1.1 0 0 1-.041.013m-.266-.651q.127.251.283.486l2.944-2.04z'/%3E%3Cpath fill='%232c2c2c' d='M79.323 69.92c-.43 0-.861-.048-1.277-.143a.07.07 0 0 1-.052-.083l1.259-5.517c.007-.032.037-.059.069-.054a.07.07 0 0 1 .066.057l.948 5.579a.07.07 0 0 1-.056.08a5.7 5.7 0 0 1-.957.081m-1.179-.263a5.7 5.7 0 0 0 2.045.057l-.878-5.169z'/%3E%3Cpath fill='%232c2c2c' d='M84.966 71.34a.07.07 0 0 1-.054-.026l-5.645-7.079a.07.07 0 0 1 .005-.091a.07.07 0 0 1 .091-.006l7.142 5.566a.07.07 0 0 1 .012.097a9 9 0 0 1-1.508 1.525a.1.1 0 0 1-.043.014m-5.228-6.735l5.239 6.569a9 9 0 0 0 1.389-1.405z'/%3E%3C/svg%3E");
  }
.skill-icons--tensorflow-light {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='white' rx='60'/%3E%3Cpath fill='%23ff6f00' d='m124.228 229l-33.605-20.11V90.31L40 120.459l.123-44.914L124.228 26zm7.556-203v203l33.609-20.11v-57.109l25.37 15.114l-.151-39.062l-25.219-14.845V90.31L216 120.459l-.122-44.914z'/%3E%3C/g%3E%3C/svg%3E");
  }
.devicon--pandas-wordmark {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 128 128'%3E%3Cpath fill='%23605c5c' d='M11.354 115.114c-2.44 0-4.919-1.008-6.475-2.985v10.677H0V96.451h4.413l.174 2.89c1.514-2.229 4.204-3.406 6.768-3.403c4.917 0 8.544 4.12 8.544 9.587s-3.629 9.593-8.546 9.59zM9.843 99.56c-2.849 0-5.174 2.228-5.174 5.97s2.311 5.97 5.171 5.97s5.166-2.228 5.166-5.97s-2.307-5.97-5.164-5.97zm28.442 15.054l-.169-2.9c-1.512 2.228-4.204 3.405-6.766 3.405c-4.92 0-8.542-4.121-8.542-9.587c0-5.464 3.615-9.586 8.542-9.583c2.561 0 5.254 1.186 6.766 3.404l.17-2.899H42.7v18.162zm-5.421-15.053c-2.848 0-5.171 2.228-5.171 5.97s2.31 5.97 5.17 5.97s5.17-2.228 5.17-5.967c0-3.74-2.31-5.958-5.17-5.972zm26.898 15.057V104.56c0-3.531-1.22-4.709-3.447-4.709c-2.311 0-4.834 2.1-4.837 4.623v10.132h-4.874V96.454h4.469l.208 3.365c1.22-2.313 3.953-3.868 6.727-3.868c4.833 0 6.644 3.365 6.644 7.864v10.803zm22.756.002l-.17-2.901c-1.511 2.228-4.201 3.404-6.767 3.404c-4.918 0-8.542-4.12-8.542-9.585s3.616-9.584 8.542-9.584c2.437 0 4.919 1.01 6.474 2.986v-9.543h4.876v25.224Zm-5.42-15.043c-2.86 0-5.173 2.228-5.173 5.97s2.31 5.967 5.17 5.97c2.86 0 5.17-2.228 5.17-5.97s-2.31-5.97-5.167-5.97m28.157 15.046l-.167-2.9c-1.514 2.228-4.206 3.406-6.768 3.403c-4.919 0-8.542-4.12-8.542-9.584c0-5.465 3.616-9.586 8.542-9.584c2.562 0 5.254 1.187 6.768 3.405l.169-2.9h4.425v18.16Zm-5.421-15.046c-2.859 0-5.17 2.228-5.17 5.97s2.311 5.97 5.17 5.97s5.17-2.228 5.17-5.97s-2.31-5.97-5.17-5.97m20.642 15.637a14.27 14.27 0 0 1-7.274-2.06l.798-3.374c1.472.883 3.7 2.02 6.39 2.02c1.933 0 3.28-.589 3.28-2.104c0-1.301-1.387-1.765-3.869-2.353c-4.453-.968-6.052-3.321-6.05-5.886c0-2.848 2.228-5.548 7.147-5.548c2.985 0 5.59 1.305 6.169 1.64l-.79 3.215a10.56 10.56 0 0 0-5.254-1.515c-1.976 0-2.944.672-2.944 1.765c0 1.218 1.262 1.766 3.196 2.228c4.79 1.01 6.725 3.237 6.725 5.677c0 3.9-2.86 6.294-7.524 6.294zM52.438 9.875h8.661v17.988h-8.661zm0 36.948h8.661V64.81h-8.661z'/%3E%3Cpath fill='%23ffca00' d='M52.438 33.116H61.1v8.486h-8.662z'/%3E%3Cpath fill='%23605c5c' d='M38.522 24.665h8.662v59.79h-8.662Zm27.544 36.998h8.663V79.65h-8.663zm0-36.976h8.663v17.987h-8.663z'/%3E%3Cpath fill='%23e70488' d='M66.066 47.924h8.663v8.485h-8.663z'/%3E%3Cpath fill='%23605c5c' d='M79.69 5.194h8.663v59.788H79.69z'/%3E%3C/svg%3E");
  }
.skill-icons--python-light {
    display: inline-block;
    width: 1em;
    height: 1em;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-color: #fff;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='%23f4f2ed' rx='60'/%3E%3Cpath fill='url(%23skillIconsPythonLight0)' d='M127.279 29c-50.772 0-47.602 22.018-47.602 22.018l.057 22.81h48.451v6.85H60.489S28 76.992 28 128.221c0 51.23 28.357 49.414 28.357 49.414h16.924v-23.773s-.912-28.357 27.905-28.357h48.054s26.999.436 26.999-26.094V55.546S180.338 29 127.279 29m-26.716 15.339a8.708 8.708 0 0 1 8.717 8.717a8.708 8.708 0 0 1-8.717 8.716a8.708 8.708 0 0 1-8.716-8.716a8.708 8.708 0 0 1 8.716-8.717'/%3E%3Cpath fill='url(%23skillIconsPythonLight1)' d='M128.721 227.958c50.772 0 47.602-22.017 47.602-22.017l-.057-22.811h-48.451v-6.849h67.696S228 179.966 228 128.736c0-51.23-28.357-49.413-28.357-49.413h-16.924v23.773s.912 28.357-27.905 28.357H106.76s-27-.437-27 26.093v43.866s-4.099 26.546 48.961 26.546m26.716-15.339a8.708 8.708 0 0 1-8.717-8.716a8.708 8.708 0 0 1 8.717-8.717a8.709 8.709 0 0 1 8.717 8.717a8.709 8.709 0 0 1-8.717 8.716'/%3E%3Cdefs%3E%3ClinearGradient id='skillIconsPythonLight0' x1='47.22' x2='146.333' y1='46.896' y2='145.02' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23387eb8'/%3E%3Cstop offset='1' stop-color='black'/%3E%3C/linearGradient%3E%3ClinearGradient id='skillIconsPythonLight1' x1='108.056' x2='214.492' y1='109.905' y2='210.522' gradientUnits='userSpaceOnUse'%3E%3Cstop stop-color='%23ffe052'/%3E%3Cstop offset='1' stop-color='%23ffc331'/%3E%3C/linearGradient%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
  }
.skill-icons--scikitlearn-light {
    display: inline-block;
    width: 32px;
    height: 32px;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 256 256'%3E%3Cg fill='none'%3E%3Crect width='256' height='256' fill='white' rx='60'/%3E%3Cg clip-path='url(%23skillIconsScikitlearnLight0)'%3E%3Cpath fill='%23f89939' d='M181.405 165.654c24.426-24.424 28.486-59.964 9.067-79.38c-19.416-19.416-54.954-15.357-79.378 9.066c-24.425 24.424-17.36 71.086-9.066 79.381c6.702 6.702 54.954 15.357 79.377-9.067'/%3E%3Cpath fill='%233499cd' d='M81.182 130.361c-14.17-14.169-34.792-16.528-46.06-5.261c-11.266 11.267-8.911 31.891 5.262 46.059c14.173 14.174 41.248 10.075 46.057 5.261c3.892-3.885 8.915-31.887-5.26-46.059'/%3E%3Cpath fill='%23010101' d='M130.073 159.668c-2.503 2.304-4.699 4.004-6.586 5.097c-1.888 1.096-3.688 1.644-5.401 1.644c-1.97 0-3.559-.764-4.765-2.292c-1.207-1.53-1.808-3.581-1.808-6.161c0-3.867.838-8.508 2.514-13.92c1.673-5.416 3.71-10.407 6.103-14.973l7.017-2.597c.22-.074.387-.112.498-.112c.532 0 .972.393 1.31 1.174c.341.785.512 1.839.512 3.164c0 3.757-.864 7.394-2.597 10.911c-1.733 3.519-4.438 7.274-8.121 11.27c-.148 1.916-.221 3.231-.221 3.95c0 1.604.294 2.872.883 3.812c.59.941 1.372 1.408 2.348 1.408c.996 0 2.054-.356 3.178-1.074c1.121-.72 2.834-2.21 5.136-4.477zm-10.578-10.799a33.707 33.707 0 0 0 5.691-8.741c1.454-3.228 2.18-6.003 2.18-8.329c0-.678-.1-1.229-.302-1.643c-.202-.415-.462-.623-.774-.623c-.679 0-1.67 1.696-2.969 5.089c-1.299 3.393-2.574 8.142-3.826 14.247'/%3E%3Cpath fill='%23010101' d='M150.737 159.667c-2.338 2.305-4.437 4.005-6.298 5.098c-1.86 1.096-3.911 1.643-6.159 1.643c-2.505 0-4.526-.801-6.066-2.401c-1.536-1.605-2.304-3.712-2.304-6.327c0-3.903 1.352-7.435 4.063-10.593c2.704-3.16 5.707-4.738 9.003-4.738c1.713 0 3.083.443 4.116 1.327c1.031.885 1.547 2.043 1.547 3.48c0 3.813-4.051 6.905-12.154 9.281c.736 3.589 2.66 5.387 5.773 5.387c1.216 0 2.375-.327 3.479-.979c1.107-.655 2.772-2.107 5-4.352zm-14.475-5.109c4.713-1.327 7.072-3.774 7.072-7.347c0-1.768-.646-2.651-1.933-2.651c-1.216 0-2.375.924-3.479 2.776c-1.108 1.85-1.66 4.256-1.66 7.222'/%3E%3Cpath fill='%23010101' d='M180.238 159.668c-2.947 2.798-5.056 4.624-6.325 5.472c-1.271.847-2.486 1.269-3.647 1.269c-2.91 0-4.281-2.568-4.116-7.706c-1.841 2.632-3.541 4.575-5.097 5.83c-1.555 1.252-3.161 1.876-4.821 1.876c-1.618 0-2.994-.758-4.129-2.277c-1.134-1.52-1.697-3.383-1.697-5.595c0-2.761.758-5.395 2.276-7.901c1.521-2.505 3.468-4.528 5.843-6.075c2.375-1.547 4.476-2.322 6.297-2.322c2.303 0 3.915 1.06 4.836 3.176l5.645-3.119h1.55l-2.439 8.092c-1.252 4.071-1.88 6.861-1.88 8.371c0 1.583.56 2.375 1.685 2.375c.715 0 1.507-.382 2.373-1.147c.866-.765 2.079-1.93 3.644-3.495v3.176zm-20.22 1.521c1.841 0 3.576-1.57 5.209-4.709c1.63-3.141 2.444-6.039 2.444-8.69c0-1.03-.232-1.837-.69-2.416c-.462-.582-1.079-.87-1.851-.87c-1.842 0-3.589 1.565-5.234 4.696c-1.648 3.132-2.474 6.013-2.474 8.644c0 .996.245 1.802.733 2.419c.487.618 1.106.926 1.863.926'/%3E%3Cpath fill='%23010101' d='M200.873 159.668c-4.623 4.529-8.187 6.796-10.691 6.796c-1.124 0-2.073-.474-2.845-1.42c-.772-.949-1.16-2.124-1.16-3.524c0-2.597 1.392-6.076 4.172-10.441c-1.364.7-2.854 1.186-4.475 1.463c-1.197 2.21-3.077 4.586-5.636 7.125h-.634v-2.483a36.163 36.163 0 0 0 3.895-4.808c-1.586-.7-2.376-1.741-2.376-3.119c0-1.42.481-2.934 1.451-4.548c.966-1.609 2.296-2.414 3.991-2.414c1.437 0 2.154.734 2.154 2.208c0 1.161-.414 2.817-1.244 4.973c3.056-.333 5.727-2.669 8.012-7.017l2.512-.111l-2.569 7.072c-1.067 2.983-1.758 5.015-2.07 6.091c-.313 1.076-.47 2.031-.47 2.859c0 .774.18 1.393.538 1.85c.359.464.843.692 1.451.692c.662 0 1.298-.227 1.906-.675c.607-.455 1.97-1.702 4.089-3.745v3.176z'/%3E%3Cpath fill='%23010101' d='M228 159.668c-4.254 4.496-7.902 6.741-10.939 6.741c-1.234 0-2.229-.432-2.984-1.298c-.756-.865-1.133-2.025-1.133-3.479c0-1.971.811-4.982 2.432-9.032c.865-2.174 1.299-3.557 1.299-4.144c0-.59-.232-.885-.69-.885c-.258 0-.6.13-1.023.386c-.388.258-.839.62-1.355 1.079c-.459.423-.976.938-1.547 1.544a44.284 44.284 0 0 0-1.6 1.769l-1.549 1.797c-.68.828-1.104 1.702-1.269 2.623a41.691 41.691 0 0 0-.554 4.312c-.057.974-.083 2.289-.083 3.95l-6.105 1.434c-.201-2.486-.305-4.337-.305-5.551c0-2.965.346-5.774 1.038-8.425c.69-2.654 1.798-5.635 3.328-8.951l6.739-1.298c-1.418 3.813-2.347 6.813-2.789 9.004c3.02-3.37 5.414-5.702 7.189-7.002c1.772-1.299 3.35-1.946 4.729-1.946c.937 0 1.72.354 2.344 1.061c.627.709.938 1.598.938 2.661c0 1.766-.792 4.676-2.373 8.729c-1.088 2.78-1.631 4.583-1.631 5.416c0 1.109.452 1.663 1.356 1.663c1.347 0 3.527-1.778 6.537-5.332z'/%3E%3Cpath fill='%23fff' d='M140.524 128.723c.044.488.166.862.366 1.122c.369.471 1.008.707 1.918.707c.542 0 1.019-.117 1.431-.35c.411-.238.617-.604.617-1.097c0-.374-.165-.658-.495-.853c-.212-.119-.629-.257-1.252-.415l-1.162-.292c-.743-.184-1.29-.39-1.642-.618c-.628-.395-.943-.943-.943-1.642c0-.823.296-1.49.886-1.999c.596-.509 1.395-.764 2.398-.764c1.311 0 2.256.385 2.836 1.154c.363.488.539 1.013.528 1.577h-1.381a1.69 1.69 0 0 0-.35-.902c-.336-.385-.918-.577-1.747-.577c-.553 0-.973.105-1.26.317a.994.994 0 0 0-.422.837c0 .379.186.683.56.91c.217.136.537.255.959.358l.968.235c1.051.255 1.755.502 2.113.74c.569.374.853.962.853 1.764c0 .774-.295 1.444-.886 2.007c-.585.564-1.479.845-2.682.845c-1.295 0-2.213-.292-2.755-.877c-.536-.591-.824-1.32-.862-2.187zm10.81-6.225c.98 0 1.777.238 2.389.715c.618.477.989 1.298 1.114 2.463h-1.423c-.086-.537-.284-.981-.593-1.333c-.309-.358-.805-.537-1.487-.537c-.932 0-1.599.455-2 1.366c-.26.59-.39 1.319-.39 2.186c0 .872.185 1.606.553 2.202c.368.596.948.894 1.739.894c.607 0 1.087-.184 1.439-.552c.357-.374.604-.883.739-1.528h1.423c-.163 1.154-.569 1.999-1.219 2.536c-.651.531-1.482.796-2.496.796c-1.137 0-2.045-.414-2.722-1.243c-.677-.835-1.016-1.875-1.016-3.121c0-1.528.371-2.718 1.113-3.568c.743-.851 1.688-1.276 2.837-1.276m4.966.292h1.487v8.664H156.3zm0-3.275h1.487v1.658H156.3zm3.673 0h1.406v6.933l3.755-3.698h1.869l-3.332 3.259l3.519 5.445h-1.869l-2.715-4.389l-1.227 1.122v3.267h-1.406zm8.355 3.275h1.487v8.664h-1.487zm0-3.275h1.487v1.658h-1.487zm3.999.805h1.479v2.43h1.39v1.194h-1.39v5.681c0 .304.103.507.309.61c.113.06.303.089.568.089h.228c.081-.005.176-.013.285-.024v1.154a3.28 3.28 0 0 1-.529.106a5.033 5.033 0 0 1-.585.032c-.683 0-1.146-.173-1.39-.52c-.244-.352-.365-.807-.365-1.365v-5.763h-1.179v-1.194h1.179z'/%3E%3C/g%3E%3Cdefs%3E%3CclipPath id='skillIconsScikitlearnLight0'%3E%3Cpath fill='%23fff' d='M28 74h200v107.86H28z'/%3E%3C/clipPath%3E%3C/defs%3E%3C/g%3E%3C/svg%3E");
  }  
.skills-icon {
  width: 2rem;
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
img.man-icons {
  font-size: 2rem;
  margin-right: var(--mb-2);
  color: var(--first-color);
}
.skills-names {
  display: flex;
  align-items: center;
}
.skills-bar {
  position: absolute;
  left: 0;
  bottom: 0;
  background-color: var(--first-color);
  height: 0.25rem;
  border-radius: 0.5rem;
  z-index: var(--z-back);
}
.skills-html {
  width: 75%;
}
.skills-css {
  width: 70%;
}
.skills-js {
  width: 85%;
}
.skills-react,
.skills-mongo {
  width: 80%;
}
.skills-redux {
  width: 90%;
}
.skills-mui,
.skills-sql {
  width: 65%;
}
.skills-ts {
  width: 70%;
}
.skills-express,
.skills-node {
  width: 85%;
}
.skills-img {
  border-radius: 0.5rem;
}

/* ===== Projects =====*/
.imageheight{
  width: 100%;
  height:290px;
  
}
.diver{
  height: 300px;

}
.project-container {
  gap: 2rem;
  max-width: 1024px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  /* column-gap: 2rem; */
  width: calc(100% - 2rem);
  margin: auto;
}
.project-img {
  box-shadow: 0 4px 25px rgba(14, 36, 49, 0.15);
  border-radius: 0.5rem;
  overflow: hidden;
}
.project-img img {
  transition: 1s;
  cursor: pointer;
  margin-bottom: 0.5rem;
}
.project-img img:hover {
  transform: scale(1.1);
}
.project-container p {
  margin: auto 1rem 1rem;
}
.project-title {
  margin-bottom: var(--mb-2);
  margin-top: var(--mb-3);
  font-size: var(--h2-font-size);
}
.project-subtitle {
  margin-bottom: var(--mb-4);
  padding-bottom: 3.5rem;
}
.small-btn {
  padding: 0.3rem 1.3rem;
  font-weight: 400;
  margin: 1rem;
}
.project-btns {
  position: absolute;
  bottom: 0;
}

/* ===== CONTACT =====*/
.contact-input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact-button {
  display: block;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  margin-left: auto;
}

/* ===== FOOTER =====*/
.footer {
  background-color: var(--second-color);
  color: #fff;
  text-align: center;
  font-weight: var(--font-semi);
  padding: 3.5rem 0;
}
.footer-title {
  font-size: 2rem;
  margin-bottom: var(--mb-4);
}
.footer-social {
  margin-bottom: var(--mb-4);
  
}
.fffff{
  font-family: var(--body-font);
  padding:3px;
  font-size: 18px;
}
.footer-icon {
  font-size: 20px;
  color: #fff;
  margin: 0 var(--mb-2);
}
#last{
  display: flex;
  justify-content: center;
}
#lastdiv{
  display: flex;
  align-items: center;
  font-weight: lighter;
}





/* ===== MEDIA QUERIES=====*/
@media screen and (min-width: 768px) {
  body {
    margin: 0;
  }
  .section {
    padding-top: 4rem;
    padding-bottom: 3rem;
  }
  .section-title {
    margin-bottom: var(--mb-6);
  }
  .section-title::after {
    width: 80px;
    top: 3rem;
  }

  .nav {
    height: calc(var(--header-height) + 1rem);
  }
  .nav-list {
    display: flex;
    padding-top: 0;
  }
  .nav-item {
    margin-left: var(--mb-6);
    margin-bottom: 0;
  }
  .nav-toggle {
    display: none;
  }
  .nav-link {
    color: var(--second-color);
  }

  .home {
    height: 100vh;
  }
  .home-data {
    align-self: flex-end;
    
  }
  .home-social {
    padding-top: 0;
    padding-bottom: 2.5rem;
    flex-direction: row;
    align-self: flex-end;
  }
  .home-social-icon {
    margin-bottom: 0;
    margin-right: var(--mb-4);
  }

  .about-container {
    align-items: center;
    margin: auto;
    width: 50%;
    transition: 0.5s;
  }
  /* .about-container {
    width: 50%;
  } */
  .skills-container {
    grid-template-columns: repeat(2, 1fr);
    text-align: initial;
  }
  .about-img img {
    width: 300px;
  }
  .project-container {
    grid-template-columns: repeat(2, 1fr);
    /* grid-template-rows: repeat(2, 1fr); */
    column-gap: 3rem;
  }
  .contact-form {
    width: 360px;
  }
  .contact-container {
    justify-items: center;
  }  
}
.round-img{
  border-radius: 50%;
}
@media screen and (min-width: 1024px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home-img {
    right: 10%;
  }
}
@media screen and (min-width: 360px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home-img {
    right: 10%;
  }
}
@media screen and (min-width: 100px) {
  .bd-grid {
    margin-left: auto;
    margin-right: auto;
  }
  .home-img {
    right: 10%;
  }
}
.contact-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 1rem;
  margin: auto;
  background-color: #fff;
  border-radius: 0.5rem;
  max-width: 500px;
}
.contact-input {
  width: 100%;
  font-size: var(--normal-font-size);
  font-weight: var(--font-semi);
  padding: 1rem;
  border-radius: 0.5rem;
  border: 1.5px solid var(--second-color);
  outline: none;
  margin-bottom: var(--mb-4);
}
.contact-button {
  display: block;
  background-color: var(--first-color);
  color: #fff;
  border: none;
  outline: none;
  font-size: var(--normal-font-size);
  cursor: pointer;
  padding: 0.75rem 2.5rem;
  font-weight: var(--font-semi);
  border-radius: 0.5rem;
  transition: background-color 0.3s ease;
}
.contact-button:hover {
  background-color: #fff;
  color: var(--first-color);
  box-shadow: 0 10px 36px rgba(0, 0, 0, 0.15);
}
